html, body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(172, 186, 204);
    background-color: blue;/*#202020*/
}
body
{
    display: grid; 
    grid-auto-flow: column dense; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."; 
}
#large
{
    font-size: xx-large;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}
#medium
{
    font-size: x-large;
}
#small
{
    font-size: large;
}
@media (max-width: 1024px)
{
    html, body
    {
        background-color: green;
    }
    body
    {
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 66% 34%; 
        grid-template-rows: auto auto; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". ."
            ". .";
    }
    #large
    {
        grid-column: span 2;
        text-align: center;
    }
}
@media (max-width: 600px)
{
    html, body
    {
        background-color: red;
    }
    body
    {
        display: grid; 
        grid-auto-flow: column dense; 
        grid-template-columns: 1.0fr; 
        grid-template-rows: auto auto auto; 
        gap: 0px 10px; 
        grid-template-areas: 
            "."
            "."
            "."; 
    }
    #large
    {
        text-align: left;
    }
}