html, body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(172, 186, 204);
    background-color: blue;/*#202020*/
}
.content
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
#large
{
    visibility: visible;
}
#medium
{
    visibility: hidden;
}
#small
{
    visibility: hidden;
}
@media (max-width: 1024px)
{
    html, body
    {
        background-color: green;
    }
    #large
    {
        visibility: hidden;
    }
    #medium
    {
        visibility: visible;
    }
    #small
    {
        visibility: hidden;
    }
    .content
    {
        font-size: x-large;
    }
}
@media (max-width: 600px)
{
    html, body
    {
        background-color: red;
    }
    #large
    {
        visibility: hidden;
    }
    #medium
    {
        visibility: hidden;
    }
    #small
    {
        visibility: visible;
    }
    .content
    {
        font-size: large;
    }
}